@import "../variables";

// authentication Styles
.login-hero {
  background: url("../../media/login-hero.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  display: none !important;
  padding: 0 30px !important;

  @media (min-width: 768px) {
    display: flex !important;
  }

  @media (min-width: 1600px) {
    padding: 0 100px !important;
  }
  &__title {
    font-size: 48px;
  }

  &__text {
    font-size: 18px;
  }

  img {
    max-height: 400px;
    display: block;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 30px;

    @media (min-width: 1600px) {
      max-width: none;
      max-height: none;
    }
  }
}

.auth-body {
  margin: 10px;
  height: calc(100vh - 20px);
}

.auth-container {
  background: #f0f6f3;
  border-radius: 10px;
  overflow: hidden;
}

.auth-logo {
  display: block;
  width: 255px;

  img {
    max-width: 100%;
  }
}

.form-with-logo {
  max-width: 80%;
}
