<div class="col-md-6 h-100 d-flex align-items-center justify-content-center login-hero">
    <section>
        <h2 class="login-hero__title mb-3">
            <strong>To be a world-class 
Takaful service provider</strong>
        </h2>
    </section>
</div>