<footer>
    <small>© 2022 by Amana Takaful.</small>
</footer>

{# common scripts #}
{# bootstrap #}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>