<header>
    <button class="sidebar-toggle btn" @click="document.body.classList.toggle('menu-collapsed'); ">
        <i class="ri-menu-line"></i>
    </button>
    <section class="header-nav">
        <div class="dropdown">
            <button class="btn notification-bell d-flex align-items-center" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ri-notification-2-line"></i>
                <span class="dot"></span>
            </button>
            <ul class="dropdown-menu notification" aria-labelledby="userDropdown">
                <li>
                    <button class="dropdown-item btn py-2" href="#">
                        Joseph Redfield clocked-in on 08:30:34 AM
                        <small class="d-block opacity-50">45 mins ago</small>
                    </button>
                </li>
                <li>
                    <button class="dropdown-item btn py-2" href="#">
                        Joseph Redfield sent a message
                        <small class="d-block opacity-50">1 day ago</small>
                    </button>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="avatar me-2">JD</div>
                <div class="username">John Doe<small>john.doe@gmail.com</small>
                </div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item text-danger" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </section>
</header>