<aside>
    <a class="logo"></a>
    <div class="accordion" id="sidebarNav">
        <div class="accordion-item">
            <h2 class="accordion-header" id="salesHeading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#salesCollapse" aria-expanded="true" aria-controls="collapseOne">
                    <i class="ri-pie-chart-line me-2"></i>
                    <span>Sales & Marketing</span>
                </button>
            </h2>
            <div id="salesCollapse" class="accordion-collapse collapse show" aria-labelledby="salesHeading" data-bs-parent="#sidebarNav">
                <div class="accordion-body">
                    <nav class="sidebar-nav">
                        <ul>
                            <li>
                                <a href="#">
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Production Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Outstanding Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Claims Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Renewal Report</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="claimsHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#claimsCollapse" aria-expanded="false" aria-controls="claimsCollapse">
                    <i class="ri-hand-heart-line me-2"></i>
                    <span>Claims</span>
                </button>
            </h2>
            <div id="claimsCollapse" class="accordion-collapse collapse" aria-labelledby="claimsHeading" data-bs-parent="#sidebarNav">
                <div class="accordion-body">
                    <nav class="sidebar-nav">
                        <ul>
                            <li>
                                <a href="#">
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Production Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Outstanding Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Claims Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Renewal Report</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="financeHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#financeCollapse" aria-expanded="false" aria-controls="financeCollapse">
                    <i class="ri-wallet-line me-2"></i>
                    <span>Finance</span>
                </button>
            </h2>
            <div id="financeCollapse" class="accordion-collapse collapse" aria-labelledby="financeHeading" data-bs-parent="#sidebarNav">
                <div class="accordion-body">
                    <nav class="sidebar-nav">
                        <ul>
                            <li>
                                <a href="#">
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Production Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Outstanding Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Claims Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Renewal Report</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</aside>